

.aside-cont{
    margin-top: 30px;
    padding: 6px;
}

.as-list{
    background-color: var(--f-bg-bento);
    outline: solid 1px var(--a-border);
    transition: background-color 0.1s;

}
.as-list.active{
    outline: solid 2px #0674c3c9;
    background-color: #0082df28;
}
.as-list:hover{
    background-color: var(--a-border);
}

.aside-cont:hover::-webkit-scrollbar-thumb {
    background-color: var(--f-placeholder);
}