.platform-breadcumb span:hover,
.platform-breadcumb span.active {
  color: var(--color-gray-12);
}

.list-anim {
  transition: transform .2s, opacity .2s;
  transform: translateY(0);
  pointer-events: auto;
}

.list-anim[data-entering],
.list-anim[data-exiting] {
  opacity: 0;
  transform: translateY(4px);
}

.list-item {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.025);
}

.list-item[data-focus-visible] {
  outline: 2px solid dodgerblue;
}

.list-item:hover {
  background-color: var(--color-gray-2);
  border: solid 1px var(--color-gray-a6);
}