.list-container {
  transition: transform .2s, opacity .2s;
  transform: translateY(0);
}

.list-container[data-entering],
.list-container[data-exiting] {
  opacity: 0;
  transform: translateY(5px);
}

.list-item{
    display: flex;
    flex-direction: row;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.025);
}
.list-item:hover {
    background-color: var(--color-gray-2);
    border: solid 1px var(--color-gray-a6);
}