.card-div h3{
    color: var(--f-tittle);
}

.card-account{
    border: solid 1px var(--a-border);
    background-color: var(--f-bg-bento);
    padding: 20px 28px;
    gap: 12px;
}
.card-account strong{
    color: var(--f-tittle);
}
.m-0{
    margin: 0;
}