---
import Layout from "@layouts/Layout.astro";
import LogRegLayout from "@layouts/LogRegLayout.astro";
import Button from "@Apps/LogReg/Button";

---

<Layout title="Login" description="Login to your account">
    <LogRegLayout type="login">
        <p class="f-row g-2 fs-1 f-center m-0" slot="logreg-footer">
            Don't have an account?
            <a href={`/ManageAccounts/Register`} class="link-text">Sign up</a>
        </p>
        <Button type="login" slot="logreg-button"/>
    </LogRegLayout>
</Layout>
