---
import AddAccountBTN from "@Apps/Manage/components/AddAccountBTN";
---

<header class="f-row f-justify-between f-align-center w-100 mb-3 px-4">
    <h2 class="fs-4 fw-700" id="h-manage-social">SocialName</h2>
    <div class="f-row g-2 f-center br-max">
        <p class="user-name m-0 fs-3 fw-600" id="h-user-name">Username</p>
        <AddAccountBTN client:only="react" />
    </div>
</header>

<script is:inline type="module">
    if (globalUser) {
        document.querySelector("#h-user-name").innerHTML = globalUser.user;
    }
</script>

<style is:inline>
    header {
        height: 45px;
    }
</style>
