---
import '@assets/css/MediaQuerys.css'
import AddPlatform from "@Components/AddPlatform/AddPlatform";
import InputSearch from "@Components/InputSearch/InputSearch";
import AsideContainer from "@Components/Aside/AsideContainer";
import HeaderMain from "@Components/Header/HeaderMain";
import AsideToggle from "@Components/Aside/AsideToggle";

const { redirect, isDashboard } = Astro.props;
---

<script type="module" is:inline>
    let currentToken = JSON.parse(localStorage.getItem("accsToken"));
    if (!currentToken) {
        window.location.replace("/ManageAccounts/Login");
    }
    let userToken = JSON.parse(
        localStorage.getItem("accsUser-" + currentToken.username),
    );
    if (!userToken || currentToken.token !== userToken.token) {
        window.location.replace("/ManageAccounts/Login");
    }
</script>

<div class="container d-grid p-2 g-2 relative h-100 o-hidden">
    <aside class="aside-app bg-bento br-8 f-col">
        <section class="as-head f-col h-max">
            <div class="f-row f-justify-between f-align-center h-max">
                <div class="f-row f-center g-4 ml-1">
                    <AsideToggle client:media="(790px > width)" />
                    <h3>Your Accounts</h3>
                </div>
                <AddPlatform transition:persist client:load />
            </div>
            <InputSearch transition:persist client:idle />
        </section>
        <AsideContainer slot="aside-list" transition:persist client:idle />
    </aside>
    <main class="main-app bg-bento f-col br-8 w-auto relative">
        <HeaderMain
            transition:persist
            client:idle
            redirect={redirect}
            isDashboard={isDashboard}
        />
        <slot />
    </main>
</div>

<style is:raw>
    .container {
        height: 100vh;
        grid-template-columns: 360px minmax(500px, auto);
    }
    aside {
        height: calc(100vh - 1rem);
        width: 360px;
        padding-inline: 18px;
        padding-bottom: 40px;
    }
    main {
        flex: 1;
        overflow: auto;
        padding-inline: 20px;
    }
    h3 {
        color: var(--f-tittle);
    }
    .as-head {
        border-bottom: solid 1px var(--a-border);
        padding: 26px 5px 30px 5px;
        gap: 26px;
    }
</style>
