.card-div{
    padding: var(--spacing-4);
}
.card-div h3{
    color: var(--f-tittle);
}

.card-account{
    border: solid 1px var(--a-border);
    background-color: var(--f-bg-bento);
    padding: 22px 28px;
    gap: 14px;
}

.card-account strong{
    color: var(--f-tittle);
}
