.card-div{
    padding: var(--spacing-4);
}
.card-div h3{
    color: var(--f-tittle);
}

.card-account{
    border: solid 1px var(--a-border);
    background-color: var(--f-bg-bento);
    padding: 22px 28px;
    gap: 14px;
}

.card-account strong{
    color: var(--f-tittle);
}

.copy-text{
    cursor: pointer;
}

@media(500px > width) {
    .card-account{
        padding: 20px 24px !important;
    }
    .card-div h3{
        font-size: var(--font-size-2) !important;
    }
    .card-div p{
        font-size: var(--font-size-1);
    }
}